<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}My Sports Blog{% endblock %}</title>
    <link rel="stylesheet" href="/sport/templates/styles.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'event_' %}">Events</a></li>
                <li><a href="{% url 'news_list' %}">Posts</a></li>
                <li><a href="{% url 'comment_list' %}">Comments</a></li>
                <li><a href="{% url 'account_login' %}">Login</a></li>
                <li><a href="{% url 'account_signup' %}">Signup</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>

</html>