{% extends 'base.html' %}

{% block title %}Event Details{% endblock %}

{% block content %}
<section>
    <h1>{{ event.name }}</h1>
    <p>Location: {{ event.location }}</p>
    <p>Event Date: {{ event.date }}</p>
</section>

<section>
    <h2>Comments</h2>
    {% for comment in event.comment_set.all %}
        <article>
            <p>{{ comment.content }}</p>
            <p>Author: {{ comment.user.username }}</p>
            <p>Comment Date: {{ comment.created_at }}</p>
        </article>
    {% empty %}
        <p>No comments for this event.</p>
    {% endfor %}
</section>
{% endblock %}