{% extends 'base.html' %}

{% block title %}Player Details{% endblock %}

{% block content %}
<section>
    <h1>{{ player.name }}</h1>
    <p>Date of Birth: {{ player.birth_date }}</p>
    <p>Team: {{ player.team.name }}</p>
    <p>History:</p>
    <p>{{ player.history }}</p>
</section>

<section>
    <h2>News about {{ player.name }}</h2>
    {% for news_item in player.team.news_set.all %}
        <article>
            <h3>{{ news_item.title }}</h3>
            <p>{{ news_item.content }}</p>
            <p>Author: {{ news_item.author.username }}</p>
            <p>Published Date: {{ news_item.created_at }}</p>
        </article>
    {% empty %}
        <p>No news about this player.</p>
    {% endfor %}
</section>

<section>
    <h2>Comments on associated events</h2>
    {% for comment in player.team.event_set.all.comments.all %}
        <article>
            <p>{{ comment.content }}</p>
            <p>Author: {{ comment.user.username }}</p>
            <p>Comment Date: {{ comment.created_at }}</p>
        </article>
    {% empty %}
        <p>No comments associated with this player.</p>
    {% endfor %}
</section>
{% endblock %}